* {
  box-sizing: border-box;
}

#desk {
  display: flex;
}

#mobile {
  display: none;
}
body {
  font-weight: 50;
}

ul {
  list-style: none;
}

.estonia-regular {
  font-family: "Estonia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.font-s {
  font-size: 30px;
}

.font-n {
  font-size: 26px;
}

.some {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: aliceblue;
}

.chocolat {
  background-color: #214946;
}

.fond {
  background-image: radial-gradient(circle, #946f69,  #214946);
}

img {
  border-radius: 20px;
  object-fit: contain;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.renverse {
  transform: rotate(-40deg);
}

.renverse-1 {
  transform: rotate(30deg);
}

.back-beige {
  background-color: #214946;
}

.fond-white {
  background-image: radial-gradient(circle, #b87f18,  black);
}

.mettre {
  justify-items: end;
}

a:hover {
  background-color: #214946;
  color : white
}

.hide {
  display: none;
}

#usermenu {
  display: none;
  width: 0;
  transition: width 0.75s;
}

.cursor {
  cursor: pointer;
}

.jaune {
  background-color: #b87f18;
}

#menu-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #desk {
    display: none;
  }

  #mobile {
    display: block;
  }
  
  .renverse-1, .renverse {
    transform: none;
  }

  #cross {
    display: none;
  }
  .hide-mobile {
    display: none;
  }
}